@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

mat-header-cell {
  cursor: col-resize;
}

mat-cell,
mat-footer-cell,
mat-header-cell {
  width: 200px;
  flex: none;
}

mat-header-row {
  display: inline-flex;
}
